.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(282px, 1fr));
  gap: 21px 18px;
}

@media screen and (max-width: 890px) {
  .cards {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
}

@media screen and (max-width: 590px) {
  .cards {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 1fr);
  }
}
