.button_type_like {
  width: 21px;
  height: 18px;
  background-image: url(../../../images/cards-like-button.svg);
  background-color: #FFFFFF;
  border: none;
  align-self: center;
  cursor: pointer;
}

.button_type_like:hover {
  background-color: #FFFFFF;
}
