.button_type_close {
  margin-top: -365px;
  margin-right: -465px;
  width: 41px;
  height: 41px;
  background-image: url(../../../images/popup-close-button.svg);
  background-position: center;
  border: none;
  cursor: pointer;
}

@media screen and (max-width: 520px) {
  .button_type_close {
    margin-right: -400px;
  }
}

@media screen and (max-width: 460px) {
  .button_type_close {
    margin-top: -400px;
    margin-right: -255px;
  }
}
