.popup-cards__item {
  max-width: 358px;
  min-height: 27px;
  margin: 0 0 27px;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.21;
  color: #000000;
}

.popup-cards__item:last-of-type {
  margin-bottom: 48px;
}

@media screen and (max-width: 460px) {
  .popup-cards__item {
    margin: 0 0 20px;
    font-size: 12px;
    line-height: 1.25;
  }

  .popup-cards__item:last-of-type {
    margin-bottom: 36px;
  }
}
