.popup-cards__container {
  display: flex;
  justify-content: space-between;
  width: 430px;
  background-color: #FFFFFF;
  border-radius: 10px;
}

@media screen and (max-width: 520px) {
  .popup-cards__container {
    width: 380px;
  }
}

@media screen and (max-width: 460px) {
  .popup-cards__container {
    width: 240px;
  }
}
