.popup-cards__form {
  display: flex;
  flex-direction: column;
  width: 430px;
  margin: 34px 36px 36px;
}

@media screen and (max-width: 460px) {
  .popup-cards__form {
    width: 240px;
    margin: 30px 20px;
  }
}
