.popup__title {
  max-width: 330px;
  margin: 34px 64px 40px 36px;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 1.21;
  color: #000000;
}

@media screen and (max-width: 520px) {
  .popup__title {
    margin: 34px 44px 40px 16px;
    font-size: 20px;
  }
}

@media screen and (max-width: 420px) {
  .popup__title {
    margin: 34px 34px 40px 6px;
    font-size: 14px;
  }
}
