.popup-cards__button-create {
  max-width: 358px;
  height: 50px;
  margin: 0;
  background-color: #000000;
  border-radius: 2px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.22;
  text-align: center;
  color: #FFFFFF;
  border: none;
  cursor: pointer;
}

.popup-cards__button-create:hover {
  background-color: #000000;
  opacity: .8;
}

@media screen and (max-width: 460px) {
  .popup-cards__button-create {
    height: 40px;
    font-size: 14px;
  }
}
